# Flood Tool Examples

## Placeholder notebook

This notebook is initially set up to allow you to quickly start demonstrating your tool. You should expect it to change a lot over the course of the week as you add features and explore the data.

The majority of your code is likely to be in your package (i.e. the `flood_tool` directory). You should import this package into this notebook and use it to show off the features of your tool.

In [1]:
import sys

# add the path to the flood_tool module so it's always found
# when we import it. Note that '..' means "go up one directory"
# from the current directory. This isn't best practice. If your tool
# can be installed as a package (e.g. with `pip install -e.`), you
# should do that instead.

sys.path.append('..')
import flood_tool as ft

In [2]:
tool = ft.Tool() # equivalent to Tool('../flood_tool/resoures/postcodes_unlabelled.csv')

Training model for Local Authority Prediction...
Model trained successfully.
training local_authority
Training model for Median House Price Prediction...
House Price Model trained successfully.
training house_price_rf
Training KNN for historic flood
historic_flooding training complete!
training historic_flooding
Training model for Postcode-based Prediction...
Preprocessing data...

/Users/celinetchaghlas/Desktop/unilectures/ads-deluge-exe/flood_tool/tool.py:360: RuntimeWarning: invalid value encountered in log1p
  return np.where(x > 0, np.log1p(x), -np.log1p(-x))
/opt/anaconda3/envs/deluge/lib/python3.12/site-packages/pandas/core/internals/blocks.py:393: RuntimeWarning: invalid value encountered in log1p
  result = func(self.values, **kwargs)

Model trained successfully.
training predicting_all_risks

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os

#### Looking up Easting and Northing from a postcode

In [6]:
tool.lookup_easting_northing(['RH16 2QE'])

           easting  northing
RH16 2QE  535295.0  123643.0

## Our Models

#### Predicting the flood class from the postcode

In [ ]:
# Prediction using postcode and default model
tool.fit() # fit all the models
tool.predict_flood_class_from_postcode(['RH16 2QE'])

RH16 2QE    1
Name: riskLabel, dtype: int64

#### Predicitng the median house price postcode

In [ ]:
tool.predict_median_house_price(['RH16 2QE'])

RH16 2QE    245000.0
Name: medianPrice, dtype: float64

#### Predicting historic flooding postcode

In [ ]:
tool.predict_historic_flooding(['RH16 2QE'])

RH16 2QE    False
Name: historicallyFlooded, dtype: bool

### Economic Risk

In [8]:
tool.estimate_annual_flood_economic_risk(pd.Series(['RH16 2QE']))

Processing postcodes...
Predicting flood classes...

postcodeSector
RH16 2    511138.123953
dtype: float64

### Human Risk

In [9]:
tool.estimate_annual_human_flood_risk(pd.Series(['RH16 2QE']))

Processing postcodes...
Predicting flood classes...

postcode
RH16 2QE    5.542667
dtype: float64

We can also use the live data features

In [ ]:
data = ft.get_latest_rainfall_readings()
data.head()

,,value,qualifier,unitName,parameter
stationReference,dateTime,,,,
000008,2024-11-22 10:15:00+00:00,0.0,Tipping Bucket Raingauge,mm,rainfail
000028,2024-11-22 10:15:00+00:00,0.0,Tipping Bucket Raingauge,mm,rainfail
000075TP,2024-11-22 10:15:00+00:00,0.0,Tipping Bucket Raingauge,mm,rainfail
000076TP,2024-11-22 10:15:00+00:00,0.2,Tipping Bucket Raingauge,mm,rainfail
000180TP,2024-11-22 10:15:00+00:00,0.0,Tipping Bucket Raingauge,mm,rainfail

In [ ]:
data = ft.get_live_station_data('079621')
data.head()

,@id,dateTime,measure,value
0,http://environment.data.gov.uk/flood-monitorin...,2024-11-22T10:15:00Z,http://environment.data.gov.uk/flood-monitorin...,0.0
1,http://environment.data.gov.uk/flood-monitorin...,2024-11-22T10:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.0
2,http://environment.data.gov.uk/flood-monitorin...,2024-11-22T09:45:00Z,http://environment.data.gov.uk/flood-monitorin...,0.0
3,http://environment.data.gov.uk/flood-monitorin...,2024-11-22T09:30:00Z,http://environment.data.gov.uk/flood-monitorin...,0.0
4,http://environment.data.gov.uk/flood-monitorin...,2024-11-22T09:15:00Z,http://environment.data.gov.uk/flood-monitorin...,0.0

In [ ]:
live, forecast = ft.get_live_weather_data(51.5, 0.1)
live

                     temperature_2m  rain
2024-11-22 10:45:00             4.7   0.0

In [ ]:
forecast.head()

                     temperature_2m  relative_humidity_2m  rain
2024-11-22 00:00:00             1.2                  81.0   0.0
2024-11-22 01:00:00             1.2                  82.0   0.0
2024-11-22 02:00:00             1.3                  82.0   0.0
2024-11-22 03:00:00             1.5                  80.0   0.0
2024-11-22 04:00:00             1.6                  78.0   0.0